{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            Bem vindo! {{ username }},
                            {% else %}
                            Visitante!
                           {% endif %}
                        </h2>
                    </a>
                    <h3 class="post-subtitle">Rotas:</h3>
                    <p class="post-meta">
                        / - Orientações<br />
                        /post/ - lista de posts cadastrados<br />
                        /post/all/json - posts cadastrados em formato json
                        /user/ - login
                    </p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <p>Divirta-se!</p
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


