{% extends 'leiaute.twig' %}
{% block conteudo %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>Bem-vindo FULANO,</p><br />
                <a href="{{ path('logout') }}">Sair</a>
            {% else %}
                <a href="{{ app.url_generator.generate('login') }}">Login</a>
            {% endif %}
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">Suas opções...</h2>
                    </a>
                    <h3 class="post-subtitle">Rotas:</h3>
                    <p class="post-meta">
                        / - Orientações<br />
                        /post/ - lista de posts cadastrados<br />
                        /post/all/json - posts cadastrados em formato json<br />
                        /login - para administrar o conteúdo do blog<br />
                    </p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <p>Divirta-se!</p
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


